<p id="notice"><%= notice %></p>

<div class="container">

  <div class="complain-title">
    <h1>
      <strong>Title</strong><br><br>
      <%= @complain.title %>
    </h1>
  </div>
  <hr>
  <div class="complaint-body">
    <h2>
      <strong>Body:</strong>
      <%= @complain.body %>
    </h2>
    <hr>
    <h2>
      <strong>Status:</strong>
      <%= @complain.status %>
    </h2>
  </div>
  <hr><br>
  <div class="complain-footer">
    <%= link_to 'Edit', edit_complain_path(@complain) %>
  </div>
</div>
