<!--
Application navigation bar if the user logged in show logout
and if not show signup and login links
styled from application css
-->
<div class="app-navbar">
  <nav>
    <ul>
      <% if logged_in? %>

        <li class="right-nav">
          <%= link_to "logout", logout_url %>
        </li>
        <li class="left-nav">
          <%= current_user.email %>
        </li>
        <li class="left-nav">
          <%= link_to 'Home', root_path %>
        </li>
        <li class="left-nav">
          <%= link_to 'New Complain', new_complain_path %>
        </li>
        <li class="left-nav">
          <%= link_to 'My Complains', complains_path %>
        </li>
    <% else %>
        <li class="right-nav">
          <%= link_to "Login", '/login', method: :get %>
        </li>
        <li class="right-nav">
          <%= link_to "SignUp", '/users/new', method: :get %>
        </li>
        </ul>
      <% end %>
      </nav>
</div>