<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Complaint</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--
    Rendering application navigation bar for each page in the website
  -->
  <%= render 'shared/navbar'%>
  <%= yield %>
  </body>
</html>
